p#pogrubienie_giewkowska
{
	color: 132,89,212 na heksa;
	font-size: 11px;
	font-weight: bold;
}
p#pochylona_gniewkowska
{
	color:;
	font-size:41pt;
	font-weight: 
}
p#index_gorny_gniewkowska
{
	color:;
	font-size:;
}
p#index_dolny_gniewkowska
{
}
p#mono_gniewkowska
{
}
p#powiekszenie_gniewkowska
{
}
p#pomniejszenie_gniewkowska